@model BeerFlix.Web.Models.Home.Index
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><span>BeerFlix - Beer and movies</span></h1>
    <p class="lead"><span>Get your beer suggestions based on the movie you are about to watch.</span></p>
    <form role="form" class="form-group form-inline form-horizontal">
        <input type="text" class="form-control input-lg" placeholder="Enter movie title...">
    </form>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Model.BeerCount Beers in database</h2>
        <p>
            We have the full assortment of the Swedish Systembolaget's beers loaded and analyzed. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Model.BeerStylesCount different beer styles</h2>
        <p>We have analyzed more than @Model.BeerStylesCount different styles of beer, such as 
        @{ var delimiter = ""; }
            @foreach (var beerStyle in Model.SelectBeerStyleNames)
        {
            @delimiter
            @beerStyle
            @Html.Raw(", ");
        }...
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Model.BeerProducersCount different beer producers</h2>
        <p>More than @Model.BeerProducersCount different producers of beer from over 40 different countries</p>
    </div>
</div>